In [ ]:
# Setup & Install Packages

# pyenv install 3.7.4
# pyenv local 3.7.4

# pipenv --python 3.7.4
# pipenv install requests
# pipenv install beautifulsoup4
# pipenv install pandas

# pipenv install jupyterlab

In [ ]:
# Check Installation

# !pyenv local
# !python -V
# !pip list

In [57]:
# Import packages

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [58]:
# Download and parse the HTML

start_url = 'https://en.wikipedia.org/wiki/Tesla,_Inc.'

# Download the HTML from start_url
downloaded_html = requests.get(start_url)

# Parse the HTML with BeautifulSoup and create a soup object
soup = BeautifulSoup(downloaded_html.text)

# Save a local copy
with open('downloaded.html', 'w') as file:
    # Depending on the HTML page, on the next line, you may have to use soup.prettify().encode('UTF-8')
    file.write(soup.prettify())

In [61]:
# Select table.wikitable

full_table = soup.select('table.wikitable tbody')[0]
print(full_table)

<tbody><tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales
</th>
<th>Model X<br/>sales
</th>
<th>Model 3<br/>sales</th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-75"><a href="#cite_note-75">[b]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-76"><a href="#cite_note-76">[c]</a></sup></th>
<th>Source
</th></tr>
<tr style="text-align:center;">
<td>Q1 2013</td>
<td>?</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-77"><a href="#cite_note-77">[74]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2013</td>
<td>?</td>
<td>?</td>
<td>5,150</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-78"><a href="#cite_note-78">[75]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2013</td>
<td>?</td>
<td>?</td>
<td>5,500+</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-79"><a href="#cite_note-79">[76]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-80"><a href="#cite_note-80">[77]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-81"><a href="#cite_note-81">[78]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-82"><a href="#cite_note-82">[79]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-83"><a href="#cite_note-83">[80]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-84"><a href="#cite_note-84">[81]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-85"><a href="#cite_note-85">[82]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-86"><a href="#cite_note-86">[83]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6
</td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-87"><a href="#cite_note-87">[84]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206
</td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-88"><a href="#cite_note-88">[85]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400
</td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_89-0"><a href="#cite_note-Tesla1Q2016-89">[86]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638
</td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-90"><a href="#cite_note-90">[87]</a></sup><sup class="reference" id="cite_ref-91"><a href="#cite_note-91">[88]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774
</td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-92"><a href="#cite_note-92">[89]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-93"><a href="#cite_note-93">[d]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500
</td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-94"><a href="#cite_note-94">[90]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_95-0"><a href="#cite_note-Tesla4Q2016final-95">[91]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550
</td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_96-0"><a href="#cite_note-Tesla1Q2017-96">[92]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000
</td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_97-0"><a href="#cite_note-Tesla2Q2017-97">[93]</a></sup><sup class="reference" id="cite_ref-98"><a href="#cite_note-98">[94]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_99-0"><a href="#cite_note-Tesla3Q2017-99">[95]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_100-0"><a href="#cite_note-3Q2017Tesla250K-100">[96]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_101-0"><a href="#cite_note-Tesla4Q2017-101">[97]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_102-0"><a href="#cite_note-Tesla4Q2017_AggProduction-102">[98]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_103-0"><a href="#cite_note-Tesla4Q2017final-103">[99]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_104-0"><a href="#cite_note-Tesla1Q2018-104">[100]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_105-0"><a href="#cite_note-Tesla2Q2018-105">[101]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_106-0"><a href="#cite_note-Tesla2Q2018final-106">[102]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_107-0"><a href="#cite_note-Tesla3Q2018-107">[103]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_108-0"><a href="#cite_note-Tesla3Q2018final-108">[104]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_109-0"><a href="#cite_note-Tesla4Q2018-109">[105]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_110-0"><a href="#cite_note-Tesla4Q2018final-110">[106]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_111-0"><a href="#cite_note-Tesla1Q2019-111">[107]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_112-0"><a href="#cite_note-Tesla2Q2019-112">[108]</a></sup><sup class="reference" id="cite_ref-wired20190703_113-0"><a href="#cite_note-wired20190703-113">[109]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,400</td>
<td>79,600</td>
<td>97,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_114-0"><a href="#cite_note-Tesla3Q2019-114">[110]</a></sup>
</td></tr></tbody>

In [64]:
# Extract the table column headings
# End result: A list with all the column headings

table_head = full_table.select('tr th')

print('-----------')
for element in table_head:
    print(element.text)

-----------
Quarter
Cumulativeproduction
Totalproduction
Model Ssales

Model Xsales

Model 3sales
Totalsales[b]
In transit[c]
Source

In [65]:
# Extract the table column headings
# End result: A list with all the column headings

# >> Let's try this again

table_head = full_table.select('tr th')

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    table_columns.append(column_label)
    print(column_label)

print('-----------')
print(table_columns)

Quarter
Cumulative production
Total production
Model S sales
Model X sales
Model 3 sales
Total sales [b]
In transit [c]
Source
-----------
['Quarter', 'Cumulative production', 'Total production', 'Model S sales', 'Model X sales', 'Model 3 sales', 'Total sales [b]', 'In transit [c]', 'Source']

In [66]:
# Extract the table column headings
# >> Iteration 3

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    column_label = column_label.replace(' ', '_')
    table_columns.append(column_label)
print(table_columns)

['Quarter', 'Cumulative_production', 'Total_production', 'Model_S_sales', 'Model_X_sales', 'Model_3_sales', 'Total_sales_[b]', 'In_transit_[c]', 'Source']

In [ ]:
# Extract the table column headings
# End result: A list with all the column headings

# >> Final Iteration

import re
regex = re.compile('_\[\w\]')

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    column_label = column_label.replace(' ', '_')
    column_label = regex.sub('', column_label)
    table_columns.append(column_label)
print(table_columns)

In [ ]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

table_rows = full_table.select('tr')
print(table_rows)

In [ ]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Iteration 2

table_rows = full_table.select('tr')

table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text)
        table_data.append(row_list)

print(table_data)

In [ ]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Final Iteration

table_rows = full_table.select('tr')
table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)

print(table_data)

In [ ]:
# Create a Pandas DataFrame

df = pd.DataFrame(table_data, columns=table_columns) 
df

['Quarter', 'Cumulative_production', 'Total_production', 'Model_S_sales', 'Model_X_sales', 'Model_3_sales', 'Total_sales', 'In_transit', 'Source']

In [68]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

table_rows = full_table.select('tr')
print(table_rows)

[<tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales
</th>
<th>Model X<br/>sales
</th>
<th>Model 3<br/>sales</th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-75"><a href="#cite_note-75">[b]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-76"><a href="#cite_note-76">[c]</a></sup></th>
<th>Source
</th></tr>, <tr style="text-align:center;">
<td>Q1 2013</td>
<td>?</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-77"><a href="#cite_note-77">[74]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2013</td>
<td>?</td>
<td>?</td>
<td>5,150</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-78"><a href="#cite_note-78">[75]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2013</td>
<td>?</td>
<td>?</td>
<td>5,500+</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-79"><a href="#cite_note-79">[76]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-80"><a href="#cite_note-80">[77]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-81"><a href="#cite_note-81">[78]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-82"><a href="#cite_note-82">[79]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-83"><a href="#cite_note-83">[80]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-84"><a href="#cite_note-84">[81]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-85"><a href="#cite_note-85">[82]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-86"><a href="#cite_note-86">[83]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6
</td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-87"><a href="#cite_note-87">[84]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206
</td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-88"><a href="#cite_note-88">[85]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400
</td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_89-0"><a href="#cite_note-Tesla1Q2016-89">[86]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638
</td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-90"><a href="#cite_note-90">[87]</a></sup><sup class="reference" id="cite_ref-91"><a href="#cite_note-91">[88]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774
</td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-92"><a href="#cite_note-92">[89]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-93"><a href="#cite_note-93">[d]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500
</td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-94"><a href="#cite_note-94">[90]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_95-0"><a href="#cite_note-Tesla4Q2016final-95">[91]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550
</td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_96-0"><a href="#cite_note-Tesla1Q2017-96">[92]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000
</td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_97-0"><a href="#cite_note-Tesla2Q2017-97">[93]</a></sup><sup class="reference" id="cite_ref-98"><a href="#cite_note-98">[94]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_99-0"><a href="#cite_note-Tesla3Q2017-99">[95]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_100-0"><a href="#cite_note-3Q2017Tesla250K-100">[96]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_101-0"><a href="#cite_note-Tesla4Q2017-101">[97]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_102-0"><a href="#cite_note-Tesla4Q2017_AggProduction-102">[98]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_103-0"><a href="#cite_note-Tesla4Q2017final-103">[99]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_104-0"><a href="#cite_note-Tesla1Q2018-104">[100]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_105-0"><a href="#cite_note-Tesla2Q2018-105">[101]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_106-0"><a href="#cite_note-Tesla2Q2018final-106">[102]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_107-0"><a href="#cite_note-Tesla3Q2018-107">[103]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_108-0"><a href="#cite_note-Tesla3Q2018final-108">[104]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_109-0"><a href="#cite_note-Tesla4Q2018-109">[105]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_110-0"><a href="#cite_note-Tesla4Q2018final-110">[106]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_111-0"><a href="#cite_note-Tesla1Q2019-111">[107]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_112-0"><a href="#cite_note-Tesla2Q2019-112">[108]</a></sup><sup class="reference" id="cite_ref-wired20190703_113-0"><a href="#cite_note-wired20190703-113">[109]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,400</td>
<td>79,600</td>
<td>97,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_114-0"><a href="#cite_note-Tesla3Q2019-114">[110]</a></sup>
</td></tr>]

In [69]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Iteration 2

table_rows = full_table.select('tr')

table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text)
        table_data.append(row_list)

print(table_data)

[['Q1 2013', '?', '5,000+', '4,900', '\n', '', '4,900', '', '[74]\n'], ['Q2 2013', '?', '?', '5,150', '\n', '', '5,150', '', '[75]\n'], ['Q3 2013', '?', '?', '5,500+', '\n', '', '5,500+', '', '[76]\n'], ['Q4 2013', '~34,851', '6,587', '6,892', '\n', '', '6,892', '', '[77]\n'], ['Q1 2014', '~41,438', '7,535', '6,457', '\n', '', '6,457', '', '[78]\n'], ['Q2 2014', '~48,973', '8,763', '7,579', '\n', '', '7,579', '', '[79]\n'], ['Q3 2014', '~57,736', '~7,075', '7,785', '\n', '', '7,785', '', '[80]\n'], ['Q4 2014', '64,811', '11,627', '9,834', '\n', '', '9,834', '', '[81]\n'], ['Q1 2015', '76,438', '11,160', '10,045', '\n', '', '10,045', '', '[82]\n'], ['Q2 2015', '89,245', '12,807', '11,532', '\n', '', '11,532', '', '[83]\n'], ['Q3 2015', '102,336', '13,091', '11,597', '6\n', '', '11,603', '', '[84]\n'], ['Q4 2015', '116,373', '14,037', '17,272', '206\n', '', '17,478', '', '[85]\n'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400\n', '', '14,820', '2,615', '[86]\n'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638\n', '', '14,402', '5,150', '[87][88]\n'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774\n', '', '24,821', '5,065', '[89]\n'], ['Q4 2016[d]', '200,295', '24,882', '12,700', '9,500\n', '', '22,254', '6,450', '[90][91]\n'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550\n', '', '25,051', '~4,650', '[92]\n'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000\n', '', '22,026', '~3,500', '[93][94]\n'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '26,137', '4,820', '[95][96]\n'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '29,967', '3,380', '[97][98][99]\n'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '29,997', '6,100', '[100]\n'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '40,740', '15,058', '[101][102]\n'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '83,725', '11,824', '[103][104]\n'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '90,700', '2,907', '[105][106]\n'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '63,000', '10,600', '[107]\n'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '95,200', '7,400', '[108][109]\n'], ['Q3 2019', '816,155', '96,155', '17,400', '79,600', '97,000', '', '[110]\n']]

In [70]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Final Iteration

table_rows = full_table.select('tr')
table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)

print(table_data)

[['Q1 2013', '?', '5,000+', '4,900', '', '', '4,900', '', '[74]'], ['Q2 2013', '?', '?', '5,150', '', '', '5,150', '', '[75]'], ['Q3 2013', '?', '?', '5,500+', '', '', '5,500+', '', '[76]'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '6,892', '', '[77]'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '6,457', '', '[78]'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '7,579', '', '[79]'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '7,785', '', '[80]'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '9,834', '', '[81]'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '10,045', '', '[82]'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '11,532', '', '[83]'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '11,603', '', '[84]'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '17,478', '', '[85]'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '14,820', '2,615', '[86]'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '14,402', '5,150', '[87][88]'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '24,821', '5,065', '[89]'], ['Q4 2016[d]', '200,295', '24,882', '12,700', '9,500', '', '22,254', '6,450', '[90][91]'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '25,051', '~4,650', '[92]'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '22,026', '~3,500', '[93][94]'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '26,137', '4,820', '[95][96]'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '29,967', '3,380', '[97][98][99]'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '29,997', '6,100', '[100]'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '40,740', '15,058', '[101][102]'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '83,725', '11,824', '[103][104]'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '90,700', '2,907', '[105][106]'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '63,000', '10,600', '[107]'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '95,200', '7,400', '[108][109]'], ['Q3 2019', '816,155', '96,155', '17,400', '79,600', '97,000', '', '[110]']]

In [71]:
# Create a Pandas DataFrame

df = pd.DataFrame(table_data, columns=table_columns) 
df

,Quarter,Cumulative_production,Total_production,Model_S_sales,Model_X_sales,Model_3_sales,Total_sales,In_transit,Source
0,Q1 2013,?,"5,000+","4,900",,,"4,900",,[74]
1,Q2 2013,?,?,"5,150",,,"5,150",,[75]
2,Q3 2013,?,?,"5,500+",,,"5,500+",,[76]
3,Q4 2013,"~34,851","6,587","6,892",,,"6,892",,[77]
4,Q1 2014,"~41,438","7,535","6,457",,,"6,457",,[78]
5,Q2 2014,"~48,973","8,763","7,579",,,"7,579",,[79]
6,Q3 2014,"~57,736","~7,075","7,785",,,"7,785",,[80]
7,Q4 2014,"64,811","11,627","9,834",,,"9,834",,[81]
8,Q1 2015,"76,438","11,160","10,045",,,"10,045",,[82]
9,Q2 2015,"89,245","12,807","11,532",,,"11,532",,[83]
10,Q3 2015,"102,336","13,091","11,597",6,,"11,603",,[84]
11,Q4 2015,"116,373","14,037","17,272",206,,"17,478",,[85]
12,Q1 2016,"131,883","15,510","12,420","2,400",,"14,820","2,615",[86]
13,Q2 2016,"150,228","18,345","9,764","4,638",,"14,402","5,150",[87][88]
14,Q3 2016,"175,413","25,185","16,047","8,774",,"24,821","5,065",[89]
15,Q4 2016[d],"200,295","24,882","12,700","9,500",,"22,254","6,450",[90][91]
16,Q1 2017,"225,713","25,418","~13,450","~11,550",,"25,051","~4,650",[92]
17,Q2 2017,"251,421","25,708","~12,000","~10,000",,"22,026","~3,500",[93][94]
18,Q3 2017,"276,757","25,336","14,065","11,865",222,"26,137","4,820",[95][96]
19,Q4 2017,"301,322","24,565","~15,200","~13,120","1,542","29,967","3,380",[97][98][99]
20,Q1 2018,"335,816","34,494","11,730","10,070","8,182","29,997","6,100",[100]
21,Q2 2018,"389,155","53,339","10,930","11,370","18,440","40,740","15,058",[101][102]
22,Q3 2018,"469,297","80,142","14,470","13,190","56,065","83,725","11,824",[103][104]
23,Q4 2018,"555,852","86,555","13,500","14,050","63,359","90,700","2,907",[105][106]
24,Q1 2019,"632,952","77,100","12,100","50,900","63,000","10,600",[107],None
25,Q2 2019,"720,000","87,048","17,650","77,550","95,200","7,400",[108][109],None
26,Q3 2019,"816,155","96,155","17,400","79,600","97,000",,[110],None